


<div class="containt-fluid ">
    <section class="about_us">
        <div class="container">
        <div class="row">
          <div class="col-lg-6 cpl-md-12">
              <div class="why_content">
                <h4>About Nearluk</h4>
              <span class="small-text">know something about us</span>
              <p class="text">Tired of searching for Rental Properties? Look no further! Nearluk is a one stop solution for all rental/ lease
                based transactions. Whether you are an Owner, or a Tenant or even an Agent, we have the right options to ensure
                your job gets done. Post an Ad for FREE! Or Bid on a property. A registered individual can post an Advertisement
                for their Commercial or Non Commercial Property, and also search for any properties available near him/ her.
                Using the most advanced Business Intelligence and Machine Learning algorithms, we automatically show you properties
                near you depending on your likes and dislikes.</p>
                         </div>
   
          </div>
          <div class="col-lg-6 cpl-md-12">
            <img src="../../assets/img/img.png" width="100%" class="img-fluid">
            </div>
          </div>
          </div>
        </section>
        <section class="mid-content">
        <div class="service-con">
        <h2>OUR FEATURES</h2>
          <p>Our Featured Service that we Provide</p>
      </div>
        <div class="container">
          <div class="row" style="margin:0px;">
             <div class="main-ul">
            <ul>
                <li>
                <p>
                  <img src="../../assets/img/icon-1.jpg">
                </p>
                <h2>Agent</h2>
                <p>An Agent is a person who acts as medium between Owner and Tenant.He connects to Owner and Owner connects to
                  Agent, it goes vice versa.</p>
                <p></p>
              </li>
                 <li>
                <p>
                  <img src="../../assets/img/icon-2.jpg">
                </p>
                <h2>Bidding</h2>
                <p>Registered users can bid for a property posted by Owners . Can view the top biddings for a property</p>
                <p></p>
              </li>
                <li>
                <p>
                  <img src="../../assets/img/icon-3.jpg">
                </p>
                <h2>Compare</h2>
                <p>A user can compare two properties that he founds reliable and apt from his viewpoint. The factors that are
                  involved to compare.</p>
                <p></p>
              </li>
                <li>
                <p>
                  <img src="../../assets/img/icon-4.jpg">
                </p>
                <h2>Favourites</h2>
                <p>This option helps to store all the users best-rated properties in “Add to Favorites”. A user can add or remove
                  favorites.
                </p>
                <p></p>
              </li>
                <li>
                <p>
                  <img src="../../assets/img/icon-5.jpg">
                </p>
                <h2>Maps</h2>
                <p>It is a feature where a map will displayed for every chosen property. It shows the route.</p>
                <p></p>
              </li>
  
              <li>
                <p>
                  <img src="../../assets/img/icon-6.jpg">
                </p>
                <h2>nearU</h2>
                <p>nearU shows the nearby properties located from your current or preferred location.</p>
                <p></p>
              </li>
                   </ul>
          </div>
          </div>
        </div>
        </section>
            <section class="why_us">
        <div class="container">
        <div class="row">
          <div class="col-lg-6 cpl-md-12">
              <div class="why_content">
                <h4>Why Nearluk?</h4>
              <p>The best part! Nearluk is also available for both Android and IOS Users and takes very little space on your phone.
                Nearluk is a boon for Agents. It helps an Agent by sending Push Notifications of Properties posted, updates
                on any responses and also helps them in connecting with their prospective customers. With a mission to help
                both Owners and Tenants search for their rental requirement in a transparent, quick and efficient process,
                we have developed Nearluk.</p>
               </div>
              </div>
          <div class="col-lg-6 cpl-md-12">
            <video _ngcontent-c9="" controls="" style="width:100%">
              <source src="http://www.nearluk.com/assets/images/video.mp4" type="video/mp4">
              <source src="http://www.nearluk.com/assets/images/video.mp4" type="video/ogg">
            </video>
             </div>
          </div>
         </div>
        </section>
     </div>