<div class="col-lg-6 col-md-12 mx-auto">
      
  <div class="card">
   <form #forgotForm='ngForm' (ngSubmit)="Forgotpwd(forgotForm)">
    <div class="card-body">
    
   
    <div class="text-center"><h3> Reset  Password</h3>
    <hr>
    </div>
     
    <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
        <input type='text' placeholder="Enter your email Id " #email="ngModel" name='email' [(ngModel)]="forgot.email" class="form-control">
  </div>
  </div>
  
  <div class="row" id="sub">
  <div class="col-lg-10 col-md-12 mx-auto">
  <button  class="btn btn-info btn-forget"  type='submit'><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
  

  </div>

  </div>
    
  </div>
</form>
  </div>